<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_888c1034991c4028bfca0792767d8081 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.js"></script>
    <link rel="stylesheet" href="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.css"/>
    
                
            
</head>
<body>    
    
            <div class="folium-map" id="map_888c1034991c4028bfca0792767d8081" ></div>
        
    
            <img id="float_image_904a8e67e4904dfb8fe6032417611cc7" alt="float_image"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAlgAAAAJGE3OTA4YTdlLTkzZjUtNDFjYy1iZThlLWQ5OTNkYzlhNzM4OQ.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_888c1034991c4028bfca0792767d8081 = L.map(
                "map_888c1034991c4028bfca0792767d8081",
                {
                    center: [46.8667, 8.2333],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a02c290192bf4189ad65436246223800 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Tiles \u0026copy; Esri \u0026mdash; Esri, DeLorme, NAVTEQ", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
            var marker_3c5f101fff42421b8a7a42ed93441a20 = L.marker(
                [47.390434, 8.045701],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_176b5b6dff9d499c8ebd04a74228e810 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_1d9d812d57a5400eaf0bacd0195f347d = $(`<div id="html_1d9d812d57a5400eaf0bacd0195f347d" style="width: 100.0%; height: 100.0%;">Aarau</div>`)[0];
            popup_176b5b6dff9d499c8ebd04a74228e810.setContent(html_1d9d812d57a5400eaf0bacd0195f347d);
        

        marker_3c5f101fff42421b8a7a42ed93441a20.bindPopup(popup_176b5b6dff9d499c8ebd04a74228e810)
        .openPopup();

        
    
    
            marker_3c5f101fff42421b8a7a42ed93441a20.bindTooltip(
                `<div>
                     Aarau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50f63e3da6a846a78a0f2c449ffa1769 = L.marker(
                [47.330769, 9.41104],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_363211c75e7841f99b6beef6267af8b2 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_c3de4e8b9a7f40e0af0350098559bc4f = $(`<div id="html_c3de4e8b9a7f40e0af0350098559bc4f" style="width: 100.0%; height: 100.0%;">Appenzell</div>`)[0];
            popup_363211c75e7841f99b6beef6267af8b2.setContent(html_c3de4e8b9a7f40e0af0350098559bc4f);
        

        marker_50f63e3da6a846a78a0f2c449ffa1769.bindPopup(popup_363211c75e7841f99b6beef6267af8b2)
        .openPopup();

        
    
    
            marker_50f63e3da6a846a78a0f2c449ffa1769.bindTooltip(
                `<div>
                     Appenzell
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7448dabd17b14d75864ff40c08751c8b = L.marker(
                [47.385849, 9.27884],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_f3651bbde9044b879a29690ace398890 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_6b83e3b4efb54b87bf2e3f77a4d522ca = $(`<div id="html_6b83e3b4efb54b87bf2e3f77a4d522ca" style="width: 100.0%; height: 100.0%;">Herisau</div>`)[0];
            popup_f3651bbde9044b879a29690ace398890.setContent(html_6b83e3b4efb54b87bf2e3f77a4d522ca);
        

        marker_7448dabd17b14d75864ff40c08751c8b.bindPopup(popup_f3651bbde9044b879a29690ace398890)
        .openPopup();

        
    
    
            marker_7448dabd17b14d75864ff40c08751c8b.bindTooltip(
                `<div>
                     Herisau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_48bf25caebb144c4850c4f4dd8fb7efe = L.marker(
                [47.486614, 7.733427],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_7a97229406804193b151dd07c20927b7 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_045f15723db042efa50777fdf8e17ef7 = $(`<div id="html_045f15723db042efa50777fdf8e17ef7" style="width: 100.0%; height: 100.0%;">Liestal</div>`)[0];
            popup_7a97229406804193b151dd07c20927b7.setContent(html_045f15723db042efa50777fdf8e17ef7);
        

        marker_48bf25caebb144c4850c4f4dd8fb7efe.bindPopup(popup_7a97229406804193b151dd07c20927b7)
        .openPopup();

        
    
    
            marker_48bf25caebb144c4850c4f4dd8fb7efe.bindTooltip(
                `<div>
                     Liestal
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_175315f2c97048c2b84b25029a23cca5 = L.marker(
                [47.559601, 7.588576],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_9510a84d4dff450f89ca3b5a455b4282 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_fa4d865e8a1e4e25a7d049f5711a5652 = $(`<div id="html_fa4d865e8a1e4e25a7d049f5711a5652" style="width: 100.0%; height: 100.0%;">Basel</div>`)[0];
            popup_9510a84d4dff450f89ca3b5a455b4282.setContent(html_fa4d865e8a1e4e25a7d049f5711a5652);
        

        marker_175315f2c97048c2b84b25029a23cca5.bindPopup(popup_9510a84d4dff450f89ca3b5a455b4282)
        .openPopup();

        
    
    
            marker_175315f2c97048c2b84b25029a23cca5.bindTooltip(
                `<div>
                     Basel
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a229ec2993e45cebcc04cf65d5613ea = L.marker(
                [46.947922, 7.444608],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_d4408c4a80ef4a68ada061b0bae39c42 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_292be8ec3fe74c5fa6b76a4911d6bd0a = $(`<div id="html_292be8ec3fe74c5fa6b76a4911d6bd0a" style="width: 100.0%; height: 100.0%;">Bern</div>`)[0];
            popup_d4408c4a80ef4a68ada061b0bae39c42.setContent(html_292be8ec3fe74c5fa6b76a4911d6bd0a);
        

        marker_4a229ec2993e45cebcc04cf65d5613ea.bindPopup(popup_d4408c4a80ef4a68ada061b0bae39c42)
        .openPopup();

        
    
    
            marker_4a229ec2993e45cebcc04cf65d5613ea.bindTooltip(
                `<div>
                     Bern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28ea4a399b724b34a0b9034ecdac37c2 = L.marker(
                [46.806403, 7.153656],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_7702e22ed1e342099e29f8f4daf5c39c = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_9664c1ef4114467790e421fd9b292773 = $(`<div id="html_9664c1ef4114467790e421fd9b292773" style="width: 100.0%; height: 100.0%;">Fribourg</div>`)[0];
            popup_7702e22ed1e342099e29f8f4daf5c39c.setContent(html_9664c1ef4114467790e421fd9b292773);
        

        marker_28ea4a399b724b34a0b9034ecdac37c2.bindPopup(popup_7702e22ed1e342099e29f8f4daf5c39c)
        .openPopup();

        
    
    
            marker_28ea4a399b724b34a0b9034ecdac37c2.bindTooltip(
                `<div>
                     Fribourg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3fb71be96f71439bb451cbd669d20f24 = L.marker(
                [46.20222, 6.14569],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_629b15fc987d4b82a4ddec597cf268c1 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_017d49cb68cf4fa489a24412ce338b5e = $(`<div id="html_017d49cb68cf4fa489a24412ce338b5e" style="width: 100.0%; height: 100.0%;">Genf</div>`)[0];
            popup_629b15fc987d4b82a4ddec597cf268c1.setContent(html_017d49cb68cf4fa489a24412ce338b5e);
        

        marker_3fb71be96f71439bb451cbd669d20f24.bindPopup(popup_629b15fc987d4b82a4ddec597cf268c1)
        .openPopup();

        
    
    
            marker_3fb71be96f71439bb451cbd669d20f24.bindTooltip(
                `<div>
                     Genf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_05b0bd43cbe74911aea693b3428edb73 = L.marker(
                [47.04057, 9.06804],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_ac0440b564744de8a81217751bfc8002 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_cee486897696475bbe418e7decac39b1 = $(`<div id="html_cee486897696475bbe418e7decac39b1" style="width: 100.0%; height: 100.0%;">Glarus</div>`)[0];
            popup_ac0440b564744de8a81217751bfc8002.setContent(html_cee486897696475bbe418e7decac39b1);
        

        marker_05b0bd43cbe74911aea693b3428edb73.bindPopup(popup_ac0440b564744de8a81217751bfc8002)
        .openPopup();

        
    
    
            marker_05b0bd43cbe74911aea693b3428edb73.bindTooltip(
                `<div>
                     Glarus
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8b1f874469024653af90265e31bf883a = L.marker(
                [46.84986, 9.53287],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_f391e9ae32df494f8884817071272b82 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_1d9cc255f4584b4499e4487899d9ffc4 = $(`<div id="html_1d9cc255f4584b4499e4487899d9ffc4" style="width: 100.0%; height: 100.0%;">Chur</div>`)[0];
            popup_f391e9ae32df494f8884817071272b82.setContent(html_1d9cc255f4584b4499e4487899d9ffc4);
        

        marker_8b1f874469024653af90265e31bf883a.bindPopup(popup_f391e9ae32df494f8884817071272b82)
        .openPopup();

        
    
    
            marker_8b1f874469024653af90265e31bf883a.bindTooltip(
                `<div>
                     Chur
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5b834cee437412cae697691256d3f7a = L.marker(
                [47.36493, 7.34453],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_b690b642a8bd45a28bf2e0584ce11ceb = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_6a0940ec85c74d91b28ac96a45040be3 = $(`<div id="html_6a0940ec85c74d91b28ac96a45040be3" style="width: 100.0%; height: 100.0%;">Delsberg</div>`)[0];
            popup_b690b642a8bd45a28bf2e0584ce11ceb.setContent(html_6a0940ec85c74d91b28ac96a45040be3);
        

        marker_a5b834cee437412cae697691256d3f7a.bindPopup(popup_b690b642a8bd45a28bf2e0584ce11ceb)
        .openPopup();

        
    
    
            marker_a5b834cee437412cae697691256d3f7a.bindTooltip(
                `<div>
                     Delsberg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d5fb65e7ea5487da071270c887833f6 = L.marker(
                [47.05048, 8.30635],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_8897527b82ad49d98438d90a250c0e5f = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_59ba8bf4ce0542269bb24a674343ba15 = $(`<div id="html_59ba8bf4ce0542269bb24a674343ba15" style="width: 100.0%; height: 100.0%;">Luzern</div>`)[0];
            popup_8897527b82ad49d98438d90a250c0e5f.setContent(html_59ba8bf4ce0542269bb24a674343ba15);
        

        marker_1d5fb65e7ea5487da071270c887833f6.bindPopup(popup_8897527b82ad49d98438d90a250c0e5f)
        .openPopup();

        
    
    
            marker_1d5fb65e7ea5487da071270c887833f6.bindTooltip(
                `<div>
                     Luzern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db3782bf65fa4026adec0246088c15df = L.marker(
                [46.99179, 6.931],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_f66ce9e887684e21bcb58cb341d053b2 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_10bc3dff5bf044af8a450958e2dff666 = $(`<div id="html_10bc3dff5bf044af8a450958e2dff666" style="width: 100.0%; height: 100.0%;">Neuenburg</div>`)[0];
            popup_f66ce9e887684e21bcb58cb341d053b2.setContent(html_10bc3dff5bf044af8a450958e2dff666);
        

        marker_db3782bf65fa4026adec0246088c15df.bindPopup(popup_f66ce9e887684e21bcb58cb341d053b2)
        .openPopup();

        
    
    
            marker_db3782bf65fa4026adec0246088c15df.bindTooltip(
                `<div>
                     Neuenburg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebf38e2dfbb6431397e99854c19d2458 = L.marker(
                [46.95805, 8.36609],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_c8a42f1954534d3591d17a6abbe03e1f = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_7c251b40f1d44b2599b8abcc0f5f92e7 = $(`<div id="html_7c251b40f1d44b2599b8abcc0f5f92e7" style="width: 100.0%; height: 100.0%;">Stans</div>`)[0];
            popup_c8a42f1954534d3591d17a6abbe03e1f.setContent(html_7c251b40f1d44b2599b8abcc0f5f92e7);
        

        marker_ebf38e2dfbb6431397e99854c19d2458.bindPopup(popup_c8a42f1954534d3591d17a6abbe03e1f)
        .openPopup();

        
    
    
            marker_ebf38e2dfbb6431397e99854c19d2458.bindTooltip(
                `<div>
                     Stans
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_be596975a1da42a2b3f0936f5c758db9 = L.marker(
                [46.89611, 8.24531],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_475f6d18057b4eb9871fa78c80135b3f = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_c41b6050965e4f00a638c03d1e9166e2 = $(`<div id="html_c41b6050965e4f00a638c03d1e9166e2" style="width: 100.0%; height: 100.0%;">Sarnen</div>`)[0];
            popup_475f6d18057b4eb9871fa78c80135b3f.setContent(html_c41b6050965e4f00a638c03d1e9166e2);
        

        marker_be596975a1da42a2b3f0936f5c758db9.bindPopup(popup_475f6d18057b4eb9871fa78c80135b3f)
        .openPopup();

        
    
    
            marker_be596975a1da42a2b3f0936f5c758db9.bindTooltip(
                `<div>
                     Sarnen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e59e6ebc8041481a8e2d06866aa91cd1 = L.marker(
                [47.42391, 9.37477],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_300db9c7fe9146a0b764d9c2edb587df = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_25d4af11264641609c4cdc7f3e49d081 = $(`<div id="html_25d4af11264641609c4cdc7f3e49d081" style="width: 100.0%; height: 100.0%;">Sankt Gallen</div>`)[0];
            popup_300db9c7fe9146a0b764d9c2edb587df.setContent(html_25d4af11264641609c4cdc7f3e49d081);
        

        marker_e59e6ebc8041481a8e2d06866aa91cd1.bindPopup(popup_300db9c7fe9146a0b764d9c2edb587df)
        .openPopup();

        
    
    
            marker_e59e6ebc8041481a8e2d06866aa91cd1.bindTooltip(
                `<div>
                     Sankt Gallen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_07bc4739f0234fa39f6244a244e0b6e5 = L.marker(
                [47.69732, 8.63493],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_c90c81801d4746ba960df6bd280ee11b = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_662b7fe7209a445a9324de3373b059c0 = $(`<div id="html_662b7fe7209a445a9324de3373b059c0" style="width: 100.0%; height: 100.0%;">Schaffhausen</div>`)[0];
            popup_c90c81801d4746ba960df6bd280ee11b.setContent(html_662b7fe7209a445a9324de3373b059c0);
        

        marker_07bc4739f0234fa39f6244a244e0b6e5.bindPopup(popup_c90c81801d4746ba960df6bd280ee11b)
        .openPopup();

        
    
    
            marker_07bc4739f0234fa39f6244a244e0b6e5.bindTooltip(
                `<div>
                     Schaffhausen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc108a26c4cb47acb0af79bd86703621 = L.marker(
                [47.02076, 8.65414],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_a9f7e62669124aaaae58b0c40d63ebf7 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_9334e493e1e541a994fa4eb7fd4d1c11 = $(`<div id="html_9334e493e1e541a994fa4eb7fd4d1c11" style="width: 100.0%; height: 100.0%;">Schwyz</div>`)[0];
            popup_a9f7e62669124aaaae58b0c40d63ebf7.setContent(html_9334e493e1e541a994fa4eb7fd4d1c11);
        

        marker_bc108a26c4cb47acb0af79bd86703621.bindPopup(popup_a9f7e62669124aaaae58b0c40d63ebf7)
        .openPopup();

        
    
    
            marker_bc108a26c4cb47acb0af79bd86703621.bindTooltip(
                `<div>
                     Schwyz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9064b384596642538a684ee10c07d50f = L.marker(
                [47.20791, 7.53714],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_32925e07ea1742bf92945498fd5d72dd = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_4b6e6202cab245e186c27d411487c3b9 = $(`<div id="html_4b6e6202cab245e186c27d411487c3b9" style="width: 100.0%; height: 100.0%;">Solothurn</div>`)[0];
            popup_32925e07ea1742bf92945498fd5d72dd.setContent(html_4b6e6202cab245e186c27d411487c3b9);
        

        marker_9064b384596642538a684ee10c07d50f.bindPopup(popup_32925e07ea1742bf92945498fd5d72dd)
        .openPopup();

        
    
    
            marker_9064b384596642538a684ee10c07d50f.bindTooltip(
                `<div>
                     Solothurn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e94ff31b95c44bf9990b44510cf8eb4 = L.marker(
                [47.55776, 8.89893],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_0e8cb5b1579949ec810cb4c10ab8f2cc = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_c03ab3a63d62442b91685f15d8bf75a3 = $(`<div id="html_c03ab3a63d62442b91685f15d8bf75a3" style="width: 100.0%; height: 100.0%;">Frauenfeld</div>`)[0];
            popup_0e8cb5b1579949ec810cb4c10ab8f2cc.setContent(html_c03ab3a63d62442b91685f15d8bf75a3);
        

        marker_1e94ff31b95c44bf9990b44510cf8eb4.bindPopup(popup_0e8cb5b1579949ec810cb4c10ab8f2cc)
        .openPopup();

        
    
    
            marker_1e94ff31b95c44bf9990b44510cf8eb4.bindTooltip(
                `<div>
                     Frauenfeld
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0abedd0c2cc4cbaa66fb43e49ec9fd5 = L.marker(
                [46.19278, 9.01703],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_218125f262124914bc5eb470bd949db0 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_a7b31e2679874e64830f5efa1941ae8f = $(`<div id="html_a7b31e2679874e64830f5efa1941ae8f" style="width: 100.0%; height: 100.0%;">Bellinzona</div>`)[0];
            popup_218125f262124914bc5eb470bd949db0.setContent(html_a7b31e2679874e64830f5efa1941ae8f);
        

        marker_c0abedd0c2cc4cbaa66fb43e49ec9fd5.bindPopup(popup_218125f262124914bc5eb470bd949db0)
        .openPopup();

        
    
    
            marker_c0abedd0c2cc4cbaa66fb43e49ec9fd5.bindTooltip(
                `<div>
                     Bellinzona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a1ca20b309f47e3a4db5763e605039e = L.marker(
                [46.88042, 8.64441],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_fbc63685c9ec494cae888c7f50619cdb = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f1772469b0514e70a6c831ff37c3e4ea = $(`<div id="html_f1772469b0514e70a6c831ff37c3e4ea" style="width: 100.0%; height: 100.0%;">Altdorf</div>`)[0];
            popup_fbc63685c9ec494cae888c7f50619cdb.setContent(html_f1772469b0514e70a6c831ff37c3e4ea);
        

        marker_5a1ca20b309f47e3a4db5763e605039e.bindPopup(popup_fbc63685c9ec494cae888c7f50619cdb)
        .openPopup();

        
    
    
            marker_5a1ca20b309f47e3a4db5763e605039e.bindTooltip(
                `<div>
                     Altdorf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_813b2a87c05c450585901a6261ef778d = L.marker(
                [46.22739, 7.35559],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_f34f2f94d16841ecadecbdfbe80cc8fc = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_e7dff992f53c41aaa8661a0b27c54864 = $(`<div id="html_e7dff992f53c41aaa8661a0b27c54864" style="width: 100.0%; height: 100.0%;">Sion</div>`)[0];
            popup_f34f2f94d16841ecadecbdfbe80cc8fc.setContent(html_e7dff992f53c41aaa8661a0b27c54864);
        

        marker_813b2a87c05c450585901a6261ef778d.bindPopup(popup_f34f2f94d16841ecadecbdfbe80cc8fc)
        .openPopup();

        
    
    
            marker_813b2a87c05c450585901a6261ef778d.bindTooltip(
                `<div>
                     Sion
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a9fa30badb94d858635e3a2e69b299d = L.marker(
                [46.516, 6.63282],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_36a8b0b98bd84094867f2172dbc9cceb = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_db43c794061b438bbfebeee986028899 = $(`<div id="html_db43c794061b438bbfebeee986028899" style="width: 100.0%; height: 100.0%;">Lausanne</div>`)[0];
            popup_36a8b0b98bd84094867f2172dbc9cceb.setContent(html_db43c794061b438bbfebeee986028899);
        

        marker_7a9fa30badb94d858635e3a2e69b299d.bindPopup(popup_36a8b0b98bd84094867f2172dbc9cceb)
        .openPopup();

        
    
    
            marker_7a9fa30badb94d858635e3a2e69b299d.bindTooltip(
                `<div>
                     Lausanne
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df440238a7054bb48739fa39d711c0fc = L.marker(
                [47.17242, 8.51745],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_fba19d8e4fdf4503bfb654b204a76a2d = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_931c2bd9817c41b59dc036231c2c1575 = $(`<div id="html_931c2bd9817c41b59dc036231c2c1575" style="width: 100.0%; height: 100.0%;">Zug</div>`)[0];
            popup_fba19d8e4fdf4503bfb654b204a76a2d.setContent(html_931c2bd9817c41b59dc036231c2c1575);
        

        marker_df440238a7054bb48739fa39d711c0fc.bindPopup(popup_fba19d8e4fdf4503bfb654b204a76a2d)
        .openPopup();

        
    
    
            marker_df440238a7054bb48739fa39d711c0fc.bindTooltip(
                `<div>
                     Zug
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cde22de7c66b4e369e0190de81522af8 = L.marker(
                [47.36667, 8.55],
                {}
            ).addTo(map_888c1034991c4028bfca0792767d8081);
        
    
        var popup_0912174c2b654426b2241e43fad8e046 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_148df52b65834468bbb2c44a8edd0262 = $(`<div id="html_148df52b65834468bbb2c44a8edd0262" style="width: 100.0%; height: 100.0%;">Zurich</div>`)[0];
            popup_0912174c2b654426b2241e43fad8e046.setContent(html_148df52b65834468bbb2c44a8edd0262);
        

        marker_cde22de7c66b4e369e0190de81522af8.bindPopup(popup_0912174c2b654426b2241e43fad8e046)
        .openPopup();

        
    
    
            marker_cde22de7c66b4e369e0190de81522af8.bindTooltip(
                `<div>
                     Zurich
                 </div>`,
                {"sticky": true}
            );
        
    
            var measure_control_152f7a6df7fb454e8b3cba6a37a4b881 = new L.Control.Measure(
                {"position": "topright", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_888c1034991c4028bfca0792767d8081.addControl(measure_control_152f7a6df7fb454e8b3cba6a37a4b881);

        
</script>