<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_07531777d6e94752a480aa8aa4b0c395 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.js"></script>
    <link rel="stylesheet" href="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.css"/>
    
                <style>
                    #float_image_9504a0c1525445949a2294fa72b192a2 {
                        position:absolute;
                        bottom:5%;
                        left:85%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_07531777d6e94752a480aa8aa4b0c395" ></div>
        
    
            <img id="float_image_9504a0c1525445949a2294fa72b192a2" alt="float_image"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAlgAAAAJGE3OTA4YTdlLTkzZjUtNDFjYy1iZThlLWQ5OTNkYzlhNzM4OQ.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_07531777d6e94752a480aa8aa4b0c395 = L.map(
                "map_07531777d6e94752a480aa8aa4b0c395",
                {
                    center: [46.8667, 8.2333],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e047c7db95534510bfde1e75bad6b97c = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Tiles \u0026copy; Esri \u0026mdash; Esri, DeLorme, NAVTEQ", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
            var marker_ebf3d590851e4c15b6ccef50ee7e0dc6 = L.marker(
                [47.390434, 8.045701],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_14e42336a0704c68b0c5211d166f5b81 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_e751e98d163b4f51a6bb899a62d4b07f = $(`<div id="html_e751e98d163b4f51a6bb899a62d4b07f" style="width: 100.0%; height: 100.0%;">Aarau</div>`)[0];
            popup_14e42336a0704c68b0c5211d166f5b81.setContent(html_e751e98d163b4f51a6bb899a62d4b07f);
        

        marker_ebf3d590851e4c15b6ccef50ee7e0dc6.bindPopup(popup_14e42336a0704c68b0c5211d166f5b81)
        .openPopup();

        
    
    
            marker_ebf3d590851e4c15b6ccef50ee7e0dc6.bindTooltip(
                `<div>
                     Aarau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_214d7eeed02e4ab2930602b4884a65ad = L.marker(
                [47.330769, 9.41104],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_0af2ed91e43643e8a92054ede2c4c536 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_bd7f920cd46d448c9571732fcbf96835 = $(`<div id="html_bd7f920cd46d448c9571732fcbf96835" style="width: 100.0%; height: 100.0%;">Appenzell</div>`)[0];
            popup_0af2ed91e43643e8a92054ede2c4c536.setContent(html_bd7f920cd46d448c9571732fcbf96835);
        

        marker_214d7eeed02e4ab2930602b4884a65ad.bindPopup(popup_0af2ed91e43643e8a92054ede2c4c536)
        .openPopup();

        
    
    
            marker_214d7eeed02e4ab2930602b4884a65ad.bindTooltip(
                `<div>
                     Appenzell
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_192e0fbd362a45089f5da08f2c9cc09c = L.marker(
                [47.385849, 9.27884],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_91ab213bc57d476e909b16ea0b103f7d = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_264c4a92f63c43c1bd834b7d4f02c3ec = $(`<div id="html_264c4a92f63c43c1bd834b7d4f02c3ec" style="width: 100.0%; height: 100.0%;">Herisau</div>`)[0];
            popup_91ab213bc57d476e909b16ea0b103f7d.setContent(html_264c4a92f63c43c1bd834b7d4f02c3ec);
        

        marker_192e0fbd362a45089f5da08f2c9cc09c.bindPopup(popup_91ab213bc57d476e909b16ea0b103f7d)
        .openPopup();

        
    
    
            marker_192e0fbd362a45089f5da08f2c9cc09c.bindTooltip(
                `<div>
                     Herisau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e448d5c1243749bdb03f0005ba9f7e78 = L.marker(
                [47.486614, 7.733427],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_b9ce1c99c756403f83053007fb3480da = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_4f53d0abd03b4521867e7b37d02f651e = $(`<div id="html_4f53d0abd03b4521867e7b37d02f651e" style="width: 100.0%; height: 100.0%;">Liestal</div>`)[0];
            popup_b9ce1c99c756403f83053007fb3480da.setContent(html_4f53d0abd03b4521867e7b37d02f651e);
        

        marker_e448d5c1243749bdb03f0005ba9f7e78.bindPopup(popup_b9ce1c99c756403f83053007fb3480da)
        .openPopup();

        
    
    
            marker_e448d5c1243749bdb03f0005ba9f7e78.bindTooltip(
                `<div>
                     Liestal
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59b1f030a2bd47a4ae726daf3876354f = L.marker(
                [47.559601, 7.588576],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_5db40a74552c4b61b94791c380f539f8 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_cd9f4feaf294465eb3dc634fad7c258d = $(`<div id="html_cd9f4feaf294465eb3dc634fad7c258d" style="width: 100.0%; height: 100.0%;">Basel</div>`)[0];
            popup_5db40a74552c4b61b94791c380f539f8.setContent(html_cd9f4feaf294465eb3dc634fad7c258d);
        

        marker_59b1f030a2bd47a4ae726daf3876354f.bindPopup(popup_5db40a74552c4b61b94791c380f539f8)
        .openPopup();

        
    
    
            marker_59b1f030a2bd47a4ae726daf3876354f.bindTooltip(
                `<div>
                     Basel
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e50579ac33e7428e8f759e2eec452ad9 = L.marker(
                [46.947922, 7.444608],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_b28a751bbcbf46e08684b7779e29808e = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_8c3e3db366504142984e74759096662b = $(`<div id="html_8c3e3db366504142984e74759096662b" style="width: 100.0%; height: 100.0%;">Bern</div>`)[0];
            popup_b28a751bbcbf46e08684b7779e29808e.setContent(html_8c3e3db366504142984e74759096662b);
        

        marker_e50579ac33e7428e8f759e2eec452ad9.bindPopup(popup_b28a751bbcbf46e08684b7779e29808e)
        .openPopup();

        
    
    
            marker_e50579ac33e7428e8f759e2eec452ad9.bindTooltip(
                `<div>
                     Bern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6193cad7911429a9597560a89d8a247 = L.marker(
                [46.806403, 7.153656],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_99d84eaae6f34326a00d101e4afda1cc = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_d51615d9b82c42f09c3049346aac070d = $(`<div id="html_d51615d9b82c42f09c3049346aac070d" style="width: 100.0%; height: 100.0%;">Fribourg</div>`)[0];
            popup_99d84eaae6f34326a00d101e4afda1cc.setContent(html_d51615d9b82c42f09c3049346aac070d);
        

        marker_a6193cad7911429a9597560a89d8a247.bindPopup(popup_99d84eaae6f34326a00d101e4afda1cc)
        .openPopup();

        
    
    
            marker_a6193cad7911429a9597560a89d8a247.bindTooltip(
                `<div>
                     Fribourg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_adadd265847b4a169a3ecc05183eb745 = L.marker(
                [46.20222, 6.14569],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_c8018138ce8e45a094c4df44fb8f094d = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_198f183b8de140e8a803e37d73a4e8a2 = $(`<div id="html_198f183b8de140e8a803e37d73a4e8a2" style="width: 100.0%; height: 100.0%;">Genf</div>`)[0];
            popup_c8018138ce8e45a094c4df44fb8f094d.setContent(html_198f183b8de140e8a803e37d73a4e8a2);
        

        marker_adadd265847b4a169a3ecc05183eb745.bindPopup(popup_c8018138ce8e45a094c4df44fb8f094d)
        .openPopup();

        
    
    
            marker_adadd265847b4a169a3ecc05183eb745.bindTooltip(
                `<div>
                     Genf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_89418d024c7f438ebb255b1034102ee9 = L.marker(
                [47.04057, 9.06804],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_9053370a8d7d496591fa50ab73cd11bc = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_a9c6d541ced14cc3b47bfa30137a99c8 = $(`<div id="html_a9c6d541ced14cc3b47bfa30137a99c8" style="width: 100.0%; height: 100.0%;">Glarus</div>`)[0];
            popup_9053370a8d7d496591fa50ab73cd11bc.setContent(html_a9c6d541ced14cc3b47bfa30137a99c8);
        

        marker_89418d024c7f438ebb255b1034102ee9.bindPopup(popup_9053370a8d7d496591fa50ab73cd11bc)
        .openPopup();

        
    
    
            marker_89418d024c7f438ebb255b1034102ee9.bindTooltip(
                `<div>
                     Glarus
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af75e63909784a34ba28fadb8cc991fc = L.marker(
                [46.84986, 9.53287],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_4a3bc4d027094269985c4f02f7c02675 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_39f30dbe212344c88d4ddc6fdb2e1a99 = $(`<div id="html_39f30dbe212344c88d4ddc6fdb2e1a99" style="width: 100.0%; height: 100.0%;">Chur</div>`)[0];
            popup_4a3bc4d027094269985c4f02f7c02675.setContent(html_39f30dbe212344c88d4ddc6fdb2e1a99);
        

        marker_af75e63909784a34ba28fadb8cc991fc.bindPopup(popup_4a3bc4d027094269985c4f02f7c02675)
        .openPopup();

        
    
    
            marker_af75e63909784a34ba28fadb8cc991fc.bindTooltip(
                `<div>
                     Chur
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dae8a77d0ef7488087914b61b280fe07 = L.marker(
                [47.36493, 7.34453],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_8e75f81780b64fe3990dd82e2432bead = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_c04b8b992fbe4254bb07660f03dd99f6 = $(`<div id="html_c04b8b992fbe4254bb07660f03dd99f6" style="width: 100.0%; height: 100.0%;">Delsberg</div>`)[0];
            popup_8e75f81780b64fe3990dd82e2432bead.setContent(html_c04b8b992fbe4254bb07660f03dd99f6);
        

        marker_dae8a77d0ef7488087914b61b280fe07.bindPopup(popup_8e75f81780b64fe3990dd82e2432bead)
        .openPopup();

        
    
    
            marker_dae8a77d0ef7488087914b61b280fe07.bindTooltip(
                `<div>
                     Delsberg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b8ae042b7b614115893cbbd7165c8738 = L.marker(
                [47.05048, 8.30635],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_a770ff29be86438a886b6d5c7d732051 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_7fdd1e35ae764887a5172f4a7d9f8cab = $(`<div id="html_7fdd1e35ae764887a5172f4a7d9f8cab" style="width: 100.0%; height: 100.0%;">Luzern</div>`)[0];
            popup_a770ff29be86438a886b6d5c7d732051.setContent(html_7fdd1e35ae764887a5172f4a7d9f8cab);
        

        marker_b8ae042b7b614115893cbbd7165c8738.bindPopup(popup_a770ff29be86438a886b6d5c7d732051)
        .openPopup();

        
    
    
            marker_b8ae042b7b614115893cbbd7165c8738.bindTooltip(
                `<div>
                     Luzern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30d52d00597d4d70a572d522ec0e1bd1 = L.marker(
                [46.99179, 6.931],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_a760870a6c854a3c9dd44659e9ad66aa = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_15d94471177245108f092f90dc1d1974 = $(`<div id="html_15d94471177245108f092f90dc1d1974" style="width: 100.0%; height: 100.0%;">Neuenburg</div>`)[0];
            popup_a760870a6c854a3c9dd44659e9ad66aa.setContent(html_15d94471177245108f092f90dc1d1974);
        

        marker_30d52d00597d4d70a572d522ec0e1bd1.bindPopup(popup_a760870a6c854a3c9dd44659e9ad66aa)
        .openPopup();

        
    
    
            marker_30d52d00597d4d70a572d522ec0e1bd1.bindTooltip(
                `<div>
                     Neuenburg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_03ab382cb0b44d7298fb55f28c283961 = L.marker(
                [46.95805, 8.36609],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_9bf0d9925c1247ea97612a1f6869bf27 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_a0c7e086369a424eac5edc9735ae2644 = $(`<div id="html_a0c7e086369a424eac5edc9735ae2644" style="width: 100.0%; height: 100.0%;">Stans</div>`)[0];
            popup_9bf0d9925c1247ea97612a1f6869bf27.setContent(html_a0c7e086369a424eac5edc9735ae2644);
        

        marker_03ab382cb0b44d7298fb55f28c283961.bindPopup(popup_9bf0d9925c1247ea97612a1f6869bf27)
        .openPopup();

        
    
    
            marker_03ab382cb0b44d7298fb55f28c283961.bindTooltip(
                `<div>
                     Stans
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff77df07dd6543ac9bf2c089c84ec7bf = L.marker(
                [46.89611, 8.24531],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_cf8001a450b44cfa9552ce645e6fb36c = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_0361cb81ee4f494786abb6b806a54e53 = $(`<div id="html_0361cb81ee4f494786abb6b806a54e53" style="width: 100.0%; height: 100.0%;">Sarnen</div>`)[0];
            popup_cf8001a450b44cfa9552ce645e6fb36c.setContent(html_0361cb81ee4f494786abb6b806a54e53);
        

        marker_ff77df07dd6543ac9bf2c089c84ec7bf.bindPopup(popup_cf8001a450b44cfa9552ce645e6fb36c)
        .openPopup();

        
    
    
            marker_ff77df07dd6543ac9bf2c089c84ec7bf.bindTooltip(
                `<div>
                     Sarnen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1279c23332340a886f6c29360fdb3d7 = L.marker(
                [47.42391, 9.37477],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_ad9401bc226749d4a09e47147590ba2e = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_5e024737155e42cd9fb8954ee8697867 = $(`<div id="html_5e024737155e42cd9fb8954ee8697867" style="width: 100.0%; height: 100.0%;">Sankt Gallen</div>`)[0];
            popup_ad9401bc226749d4a09e47147590ba2e.setContent(html_5e024737155e42cd9fb8954ee8697867);
        

        marker_e1279c23332340a886f6c29360fdb3d7.bindPopup(popup_ad9401bc226749d4a09e47147590ba2e)
        .openPopup();

        
    
    
            marker_e1279c23332340a886f6c29360fdb3d7.bindTooltip(
                `<div>
                     Sankt Gallen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ed6b19f3ea9d418194efbf8b88f9fadd = L.marker(
                [47.69732, 8.63493],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_770f85699ea34c0194421c37dbfcf99c = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_571490bf25294d1081034f23d218b0e9 = $(`<div id="html_571490bf25294d1081034f23d218b0e9" style="width: 100.0%; height: 100.0%;">Schaffhausen</div>`)[0];
            popup_770f85699ea34c0194421c37dbfcf99c.setContent(html_571490bf25294d1081034f23d218b0e9);
        

        marker_ed6b19f3ea9d418194efbf8b88f9fadd.bindPopup(popup_770f85699ea34c0194421c37dbfcf99c)
        .openPopup();

        
    
    
            marker_ed6b19f3ea9d418194efbf8b88f9fadd.bindTooltip(
                `<div>
                     Schaffhausen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6db799da0c2f46988e0932cb2ebac3ae = L.marker(
                [47.02076, 8.65414],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_79d0b3a6383a4379b59b851be70b2047 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_fd0c0c9562a144399368ff7bfeeca721 = $(`<div id="html_fd0c0c9562a144399368ff7bfeeca721" style="width: 100.0%; height: 100.0%;">Schwyz</div>`)[0];
            popup_79d0b3a6383a4379b59b851be70b2047.setContent(html_fd0c0c9562a144399368ff7bfeeca721);
        

        marker_6db799da0c2f46988e0932cb2ebac3ae.bindPopup(popup_79d0b3a6383a4379b59b851be70b2047)
        .openPopup();

        
    
    
            marker_6db799da0c2f46988e0932cb2ebac3ae.bindTooltip(
                `<div>
                     Schwyz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2149ad2d21924350a5949803ed1ed2e3 = L.marker(
                [47.20791, 7.53714],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_8c162b7b2e31411baa9d1ef3894838df = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_d473738426e949fba33106385caad60c = $(`<div id="html_d473738426e949fba33106385caad60c" style="width: 100.0%; height: 100.0%;">Solothurn</div>`)[0];
            popup_8c162b7b2e31411baa9d1ef3894838df.setContent(html_d473738426e949fba33106385caad60c);
        

        marker_2149ad2d21924350a5949803ed1ed2e3.bindPopup(popup_8c162b7b2e31411baa9d1ef3894838df)
        .openPopup();

        
    
    
            marker_2149ad2d21924350a5949803ed1ed2e3.bindTooltip(
                `<div>
                     Solothurn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8b973b778ee246479f8ab77c99513de2 = L.marker(
                [47.55776, 8.89893],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_09ea9095149f469e9b0e3836b2528a5b = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_a05e315c4f074bc0abf02516cf340bd9 = $(`<div id="html_a05e315c4f074bc0abf02516cf340bd9" style="width: 100.0%; height: 100.0%;">Frauenfeld</div>`)[0];
            popup_09ea9095149f469e9b0e3836b2528a5b.setContent(html_a05e315c4f074bc0abf02516cf340bd9);
        

        marker_8b973b778ee246479f8ab77c99513de2.bindPopup(popup_09ea9095149f469e9b0e3836b2528a5b)
        .openPopup();

        
    
    
            marker_8b973b778ee246479f8ab77c99513de2.bindTooltip(
                `<div>
                     Frauenfeld
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25b6fd652c1d439cb298b6308fe81b80 = L.marker(
                [46.19278, 9.01703],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_87c4e9bae0a24039bf8ca99cf7e67900 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_672ff1f3331d48058472bc8b120cc664 = $(`<div id="html_672ff1f3331d48058472bc8b120cc664" style="width: 100.0%; height: 100.0%;">Bellinzona</div>`)[0];
            popup_87c4e9bae0a24039bf8ca99cf7e67900.setContent(html_672ff1f3331d48058472bc8b120cc664);
        

        marker_25b6fd652c1d439cb298b6308fe81b80.bindPopup(popup_87c4e9bae0a24039bf8ca99cf7e67900)
        .openPopup();

        
    
    
            marker_25b6fd652c1d439cb298b6308fe81b80.bindTooltip(
                `<div>
                     Bellinzona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a71729ef26354da1b6f04a6c0b10764b = L.marker(
                [46.88042, 8.64441],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_2d6e8c386cd641e5a41e739574d20a15 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_2ca393f926eb4401888a380856613479 = $(`<div id="html_2ca393f926eb4401888a380856613479" style="width: 100.0%; height: 100.0%;">Altdorf</div>`)[0];
            popup_2d6e8c386cd641e5a41e739574d20a15.setContent(html_2ca393f926eb4401888a380856613479);
        

        marker_a71729ef26354da1b6f04a6c0b10764b.bindPopup(popup_2d6e8c386cd641e5a41e739574d20a15)
        .openPopup();

        
    
    
            marker_a71729ef26354da1b6f04a6c0b10764b.bindTooltip(
                `<div>
                     Altdorf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08bb7084ff114b88894eb12acb1dbb7e = L.marker(
                [46.22739, 7.35559],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_c9dd55b96ba14414b4b81b1fad58f1a2 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_68466708f6894c5294caa58813c32673 = $(`<div id="html_68466708f6894c5294caa58813c32673" style="width: 100.0%; height: 100.0%;">Sion</div>`)[0];
            popup_c9dd55b96ba14414b4b81b1fad58f1a2.setContent(html_68466708f6894c5294caa58813c32673);
        

        marker_08bb7084ff114b88894eb12acb1dbb7e.bindPopup(popup_c9dd55b96ba14414b4b81b1fad58f1a2)
        .openPopup();

        
    
    
            marker_08bb7084ff114b88894eb12acb1dbb7e.bindTooltip(
                `<div>
                     Sion
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30805a5419d6498da935c4f2b8fd4d31 = L.marker(
                [46.516, 6.63282],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_b92212b126a0451596173efbeee6b500 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_5366a62b46914560a1da38addd7becc3 = $(`<div id="html_5366a62b46914560a1da38addd7becc3" style="width: 100.0%; height: 100.0%;">Lausanne</div>`)[0];
            popup_b92212b126a0451596173efbeee6b500.setContent(html_5366a62b46914560a1da38addd7becc3);
        

        marker_30805a5419d6498da935c4f2b8fd4d31.bindPopup(popup_b92212b126a0451596173efbeee6b500)
        .openPopup();

        
    
    
            marker_30805a5419d6498da935c4f2b8fd4d31.bindTooltip(
                `<div>
                     Lausanne
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63a4e666cb7d4d719a569e3ab07b3ecc = L.marker(
                [47.17242, 8.51745],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_00be353ee801438cb1b007b42f065ba2 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_eb0ce05f9edb488a8015c25039e685b5 = $(`<div id="html_eb0ce05f9edb488a8015c25039e685b5" style="width: 100.0%; height: 100.0%;">Zug</div>`)[0];
            popup_00be353ee801438cb1b007b42f065ba2.setContent(html_eb0ce05f9edb488a8015c25039e685b5);
        

        marker_63a4e666cb7d4d719a569e3ab07b3ecc.bindPopup(popup_00be353ee801438cb1b007b42f065ba2)
        .openPopup();

        
    
    
            marker_63a4e666cb7d4d719a569e3ab07b3ecc.bindTooltip(
                `<div>
                     Zug
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ad2e647a79b041a790b8fb202d753bb6 = L.marker(
                [47.36667, 8.55],
                {}
            ).addTo(map_07531777d6e94752a480aa8aa4b0c395);
        
    
        var popup_91b43994800a41a586b7860229015ebd = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f8aff2eecfea4ba7a598b145861b6137 = $(`<div id="html_f8aff2eecfea4ba7a598b145861b6137" style="width: 100.0%; height: 100.0%;">Zurich</div>`)[0];
            popup_91b43994800a41a586b7860229015ebd.setContent(html_f8aff2eecfea4ba7a598b145861b6137);
        

        marker_ad2e647a79b041a790b8fb202d753bb6.bindPopup(popup_91b43994800a41a586b7860229015ebd)
        .openPopup();

        
    
    
            marker_ad2e647a79b041a790b8fb202d753bb6.bindTooltip(
                `<div>
                     Zurich
                 </div>`,
                {"sticky": true}
            );
        
    
            var measure_control_cec3210e38f2462c9adb1663ec996e3c = new L.Control.Measure(
                {"position": "topright", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_07531777d6e94752a480aa8aa4b0c395.addControl(measure_control_cec3210e38f2462c9adb1663ec996e3c);

        
</script>