<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_801a6a6e6f2e4512a693b58c7ee79833 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.js"></script>
    <link rel="stylesheet" href="https://rawcdn.githack.com/ljagis/leaflet-measure/2.1.7/dist/leaflet-measure.css"/>
    
                <style>
                    #float_image_ab9796938f0a4c0bab2d6a01aafdb488 {
                        position:absolute;
                        bottom:5%;
                        left:85%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_801a6a6e6f2e4512a693b58c7ee79833" ></div>
        
    
            <img id="float_image_ab9796938f0a4c0bab2d6a01aafdb488" alt="float_image"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAlgAAAAJGE3OTA4YTdlLTkzZjUtNDFjYy1iZThlLWQ5OTNkYzlhNzM4OQ.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_801a6a6e6f2e4512a693b58c7ee79833 = L.map(
                "map_801a6a6e6f2e4512a693b58c7ee79833",
                {
                    center: [46.8667, 8.2333],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dd8a721f656041dba0baddf1955ed3fa = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "toner-bcg", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
            var marker_4b7b0b951f054d298e49b719036b2f35 = L.marker(
                [47.390434, 8.045701],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_76ac225a717f4008b1f93fc161c4642a = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_65f306e264ca4719a84a6a6df6f9d8a2 = $(`<div id="html_65f306e264ca4719a84a6a6df6f9d8a2" style="width: 100.0%; height: 100.0%;">Aarau</div>`)[0];
            popup_76ac225a717f4008b1f93fc161c4642a.setContent(html_65f306e264ca4719a84a6a6df6f9d8a2);
        

        marker_4b7b0b951f054d298e49b719036b2f35.bindPopup(popup_76ac225a717f4008b1f93fc161c4642a)
        .openPopup();

        
    
    
            marker_4b7b0b951f054d298e49b719036b2f35.bindTooltip(
                `<div>
                     Aarau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d54d4fcf07e4704a1c471912faac454 = L.marker(
                [47.330769, 9.41104],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_1e5d9e4ea5444563b254a4302059ae88 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_c2a3427b94ca496e8c68e60a518b213b = $(`<div id="html_c2a3427b94ca496e8c68e60a518b213b" style="width: 100.0%; height: 100.0%;">Appenzell</div>`)[0];
            popup_1e5d9e4ea5444563b254a4302059ae88.setContent(html_c2a3427b94ca496e8c68e60a518b213b);
        

        marker_9d54d4fcf07e4704a1c471912faac454.bindPopup(popup_1e5d9e4ea5444563b254a4302059ae88)
        .openPopup();

        
    
    
            marker_9d54d4fcf07e4704a1c471912faac454.bindTooltip(
                `<div>
                     Appenzell
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8902f41f68954511b8f2ca3e052faed4 = L.marker(
                [47.385849, 9.27884],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_0ecf664bb29042e8b51a8f88f53e55a3 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_9d56703ca82b4d95995f1f211c8b6c8d = $(`<div id="html_9d56703ca82b4d95995f1f211c8b6c8d" style="width: 100.0%; height: 100.0%;">Herisau</div>`)[0];
            popup_0ecf664bb29042e8b51a8f88f53e55a3.setContent(html_9d56703ca82b4d95995f1f211c8b6c8d);
        

        marker_8902f41f68954511b8f2ca3e052faed4.bindPopup(popup_0ecf664bb29042e8b51a8f88f53e55a3)
        .openPopup();

        
    
    
            marker_8902f41f68954511b8f2ca3e052faed4.bindTooltip(
                `<div>
                     Herisau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2da89ba7e0a54a8f9e3551503d95f858 = L.marker(
                [47.486614, 7.733427],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_25b95902f2734d72adb664b38f76f789 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f8b04fede26f40fa924269c2b328104f = $(`<div id="html_f8b04fede26f40fa924269c2b328104f" style="width: 100.0%; height: 100.0%;">Liestal</div>`)[0];
            popup_25b95902f2734d72adb664b38f76f789.setContent(html_f8b04fede26f40fa924269c2b328104f);
        

        marker_2da89ba7e0a54a8f9e3551503d95f858.bindPopup(popup_25b95902f2734d72adb664b38f76f789)
        .openPopup();

        
    
    
            marker_2da89ba7e0a54a8f9e3551503d95f858.bindTooltip(
                `<div>
                     Liestal
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa58bbc7f62f4b66809a60e0d09bcedf = L.marker(
                [47.559601, 7.588576],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_28cadba25ce34e6aab7c5f8986d3029d = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_6accf7d0de064803b7773c2cb7cc1244 = $(`<div id="html_6accf7d0de064803b7773c2cb7cc1244" style="width: 100.0%; height: 100.0%;">Basel</div>`)[0];
            popup_28cadba25ce34e6aab7c5f8986d3029d.setContent(html_6accf7d0de064803b7773c2cb7cc1244);
        

        marker_fa58bbc7f62f4b66809a60e0d09bcedf.bindPopup(popup_28cadba25ce34e6aab7c5f8986d3029d)
        .openPopup();

        
    
    
            marker_fa58bbc7f62f4b66809a60e0d09bcedf.bindTooltip(
                `<div>
                     Basel
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f04036466cd457cb82bc2a2b3927e3c = L.marker(
                [46.947922, 7.444608],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_1891285b28db4195b7a8ad5f76e9a0ee = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_08cc1c6f88a74372af8cd300446f7bc8 = $(`<div id="html_08cc1c6f88a74372af8cd300446f7bc8" style="width: 100.0%; height: 100.0%;">Bern</div>`)[0];
            popup_1891285b28db4195b7a8ad5f76e9a0ee.setContent(html_08cc1c6f88a74372af8cd300446f7bc8);
        

        marker_5f04036466cd457cb82bc2a2b3927e3c.bindPopup(popup_1891285b28db4195b7a8ad5f76e9a0ee)
        .openPopup();

        
    
    
            marker_5f04036466cd457cb82bc2a2b3927e3c.bindTooltip(
                `<div>
                     Bern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_266c92eebafb40898d8d0d34fa188a9b = L.marker(
                [46.806403, 7.153656],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_cdc28ea3c26e462e936f40f6b7d4b61c = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_9caabfc36c984ebab74a6e949130101a = $(`<div id="html_9caabfc36c984ebab74a6e949130101a" style="width: 100.0%; height: 100.0%;">Fribourg</div>`)[0];
            popup_cdc28ea3c26e462e936f40f6b7d4b61c.setContent(html_9caabfc36c984ebab74a6e949130101a);
        

        marker_266c92eebafb40898d8d0d34fa188a9b.bindPopup(popup_cdc28ea3c26e462e936f40f6b7d4b61c)
        .openPopup();

        
    
    
            marker_266c92eebafb40898d8d0d34fa188a9b.bindTooltip(
                `<div>
                     Fribourg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a3151737487947f79c58ac9f51b3c453 = L.marker(
                [46.20222, 6.14569],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_1b3ba8711e78427389de5e3b91055c29 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f138ed0e78ed4f7f97cb5b59f17bff53 = $(`<div id="html_f138ed0e78ed4f7f97cb5b59f17bff53" style="width: 100.0%; height: 100.0%;">Genf</div>`)[0];
            popup_1b3ba8711e78427389de5e3b91055c29.setContent(html_f138ed0e78ed4f7f97cb5b59f17bff53);
        

        marker_a3151737487947f79c58ac9f51b3c453.bindPopup(popup_1b3ba8711e78427389de5e3b91055c29)
        .openPopup();

        
    
    
            marker_a3151737487947f79c58ac9f51b3c453.bindTooltip(
                `<div>
                     Genf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d53047f276af4edf915b6acf30819672 = L.marker(
                [47.04057, 9.06804],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_555412963341466f9e58b498a6d37f7b = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_8a9cba241cb94708bb17464b45c7696e = $(`<div id="html_8a9cba241cb94708bb17464b45c7696e" style="width: 100.0%; height: 100.0%;">Glarus</div>`)[0];
            popup_555412963341466f9e58b498a6d37f7b.setContent(html_8a9cba241cb94708bb17464b45c7696e);
        

        marker_d53047f276af4edf915b6acf30819672.bindPopup(popup_555412963341466f9e58b498a6d37f7b)
        .openPopup();

        
    
    
            marker_d53047f276af4edf915b6acf30819672.bindTooltip(
                `<div>
                     Glarus
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_923935b5eabd4a5cb6ee7f60e8ff48a9 = L.marker(
                [46.84986, 9.53287],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_2013324c2ae3434fbcaa8e3799eb4bfc = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_45b8312d6d1649debf74f66f0541e10f = $(`<div id="html_45b8312d6d1649debf74f66f0541e10f" style="width: 100.0%; height: 100.0%;">Chur</div>`)[0];
            popup_2013324c2ae3434fbcaa8e3799eb4bfc.setContent(html_45b8312d6d1649debf74f66f0541e10f);
        

        marker_923935b5eabd4a5cb6ee7f60e8ff48a9.bindPopup(popup_2013324c2ae3434fbcaa8e3799eb4bfc)
        .openPopup();

        
    
    
            marker_923935b5eabd4a5cb6ee7f60e8ff48a9.bindTooltip(
                `<div>
                     Chur
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dde2455e23b8460ba4871ef9721c74ca = L.marker(
                [47.36493, 7.34453],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_39ffa9dba0c44d739833f23c2fab2b2b = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_6bb8a6fe42c84b208e37482a6d065624 = $(`<div id="html_6bb8a6fe42c84b208e37482a6d065624" style="width: 100.0%; height: 100.0%;">Delsberg</div>`)[0];
            popup_39ffa9dba0c44d739833f23c2fab2b2b.setContent(html_6bb8a6fe42c84b208e37482a6d065624);
        

        marker_dde2455e23b8460ba4871ef9721c74ca.bindPopup(popup_39ffa9dba0c44d739833f23c2fab2b2b)
        .openPopup();

        
    
    
            marker_dde2455e23b8460ba4871ef9721c74ca.bindTooltip(
                `<div>
                     Delsberg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c90c800dbaf94204a52c67c34de883fe = L.marker(
                [47.05048, 8.30635],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_d6816eaa07e64e359f136382f754cc67 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_cd291859f80140bb85076fd7ab6d55f3 = $(`<div id="html_cd291859f80140bb85076fd7ab6d55f3" style="width: 100.0%; height: 100.0%;">Luzern</div>`)[0];
            popup_d6816eaa07e64e359f136382f754cc67.setContent(html_cd291859f80140bb85076fd7ab6d55f3);
        

        marker_c90c800dbaf94204a52c67c34de883fe.bindPopup(popup_d6816eaa07e64e359f136382f754cc67)
        .openPopup();

        
    
    
            marker_c90c800dbaf94204a52c67c34de883fe.bindTooltip(
                `<div>
                     Luzern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_715a638343a2420891213e439b3342a5 = L.marker(
                [46.99179, 6.931],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_76a9682653f143c2a844888049244a35 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_a7e330c3a38a4dfd99dd4787b85556f5 = $(`<div id="html_a7e330c3a38a4dfd99dd4787b85556f5" style="width: 100.0%; height: 100.0%;">Neuenburg</div>`)[0];
            popup_76a9682653f143c2a844888049244a35.setContent(html_a7e330c3a38a4dfd99dd4787b85556f5);
        

        marker_715a638343a2420891213e439b3342a5.bindPopup(popup_76a9682653f143c2a844888049244a35)
        .openPopup();

        
    
    
            marker_715a638343a2420891213e439b3342a5.bindTooltip(
                `<div>
                     Neuenburg
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd6a5cf6ed2445e1bac8ee6bd402fcf8 = L.marker(
                [46.95805, 8.36609],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_6bd5cf211e7e4b098fb4830dd3406479 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_9966a0f70cab4d759c0825667ec60682 = $(`<div id="html_9966a0f70cab4d759c0825667ec60682" style="width: 100.0%; height: 100.0%;">Stans</div>`)[0];
            popup_6bd5cf211e7e4b098fb4830dd3406479.setContent(html_9966a0f70cab4d759c0825667ec60682);
        

        marker_bd6a5cf6ed2445e1bac8ee6bd402fcf8.bindPopup(popup_6bd5cf211e7e4b098fb4830dd3406479)
        .openPopup();

        
    
    
            marker_bd6a5cf6ed2445e1bac8ee6bd402fcf8.bindTooltip(
                `<div>
                     Stans
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f22e949c24894a6bb17f8804363ede49 = L.marker(
                [46.89611, 8.24531],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_4591e3d93b9d4038bf390f3b3d58448c = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_d0c13ece8a544817aaf75dd62b20953b = $(`<div id="html_d0c13ece8a544817aaf75dd62b20953b" style="width: 100.0%; height: 100.0%;">Sarnen</div>`)[0];
            popup_4591e3d93b9d4038bf390f3b3d58448c.setContent(html_d0c13ece8a544817aaf75dd62b20953b);
        

        marker_f22e949c24894a6bb17f8804363ede49.bindPopup(popup_4591e3d93b9d4038bf390f3b3d58448c)
        .openPopup();

        
    
    
            marker_f22e949c24894a6bb17f8804363ede49.bindTooltip(
                `<div>
                     Sarnen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_feea6e65cdfc45c9854d5bc81a1bc212 = L.marker(
                [47.42391, 9.37477],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_e0e5b9a27fb5477d9d1d6d8688e1d6b1 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_cb5b5f15053a44999483dbf1642aa29f = $(`<div id="html_cb5b5f15053a44999483dbf1642aa29f" style="width: 100.0%; height: 100.0%;">Sankt Gallen</div>`)[0];
            popup_e0e5b9a27fb5477d9d1d6d8688e1d6b1.setContent(html_cb5b5f15053a44999483dbf1642aa29f);
        

        marker_feea6e65cdfc45c9854d5bc81a1bc212.bindPopup(popup_e0e5b9a27fb5477d9d1d6d8688e1d6b1)
        .openPopup();

        
    
    
            marker_feea6e65cdfc45c9854d5bc81a1bc212.bindTooltip(
                `<div>
                     Sankt Gallen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c4e2f1ac7f29412abfe9b67e255e1820 = L.marker(
                [47.69732, 8.63493],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_f701db51cf37426e9df1134ba6a9dc1f = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_06129145d29f41609677e335eceaa343 = $(`<div id="html_06129145d29f41609677e335eceaa343" style="width: 100.0%; height: 100.0%;">Schaffhausen</div>`)[0];
            popup_f701db51cf37426e9df1134ba6a9dc1f.setContent(html_06129145d29f41609677e335eceaa343);
        

        marker_c4e2f1ac7f29412abfe9b67e255e1820.bindPopup(popup_f701db51cf37426e9df1134ba6a9dc1f)
        .openPopup();

        
    
    
            marker_c4e2f1ac7f29412abfe9b67e255e1820.bindTooltip(
                `<div>
                     Schaffhausen
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6070f0f24e094231965f2583729edbe8 = L.marker(
                [47.02076, 8.65414],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_fb9358f4a06343f48f0a57513ddba925 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f1b372d96c0a461e8da2ffc4cba13491 = $(`<div id="html_f1b372d96c0a461e8da2ffc4cba13491" style="width: 100.0%; height: 100.0%;">Schwyz</div>`)[0];
            popup_fb9358f4a06343f48f0a57513ddba925.setContent(html_f1b372d96c0a461e8da2ffc4cba13491);
        

        marker_6070f0f24e094231965f2583729edbe8.bindPopup(popup_fb9358f4a06343f48f0a57513ddba925)
        .openPopup();

        
    
    
            marker_6070f0f24e094231965f2583729edbe8.bindTooltip(
                `<div>
                     Schwyz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fd39a6bdb4d3412193eb0c29bb5d49b0 = L.marker(
                [47.20791, 7.53714],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_155cbba138be427181331ba1dbe0599d = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_0e0d3e5b90cd4001bfe7e27486c9153d = $(`<div id="html_0e0d3e5b90cd4001bfe7e27486c9153d" style="width: 100.0%; height: 100.0%;">Solothurn</div>`)[0];
            popup_155cbba138be427181331ba1dbe0599d.setContent(html_0e0d3e5b90cd4001bfe7e27486c9153d);
        

        marker_fd39a6bdb4d3412193eb0c29bb5d49b0.bindPopup(popup_155cbba138be427181331ba1dbe0599d)
        .openPopup();

        
    
    
            marker_fd39a6bdb4d3412193eb0c29bb5d49b0.bindTooltip(
                `<div>
                     Solothurn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_361c493f77454f13a8a0625f5cd499f8 = L.marker(
                [47.55776, 8.89893],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_31d93893f11d45eab921c95531f6c0da = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_d9739dbc5fcc4179bbe1b23710f00c47 = $(`<div id="html_d9739dbc5fcc4179bbe1b23710f00c47" style="width: 100.0%; height: 100.0%;">Frauenfeld</div>`)[0];
            popup_31d93893f11d45eab921c95531f6c0da.setContent(html_d9739dbc5fcc4179bbe1b23710f00c47);
        

        marker_361c493f77454f13a8a0625f5cd499f8.bindPopup(popup_31d93893f11d45eab921c95531f6c0da)
        .openPopup();

        
    
    
            marker_361c493f77454f13a8a0625f5cd499f8.bindTooltip(
                `<div>
                     Frauenfeld
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_828feb8b455d460cb0fecbda3d5bacdf = L.marker(
                [46.19278, 9.01703],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_e79e1e50e2e3479896aad8856a228b11 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_83a042679f794746ba85559c5439bfba = $(`<div id="html_83a042679f794746ba85559c5439bfba" style="width: 100.0%; height: 100.0%;">Bellinzona</div>`)[0];
            popup_e79e1e50e2e3479896aad8856a228b11.setContent(html_83a042679f794746ba85559c5439bfba);
        

        marker_828feb8b455d460cb0fecbda3d5bacdf.bindPopup(popup_e79e1e50e2e3479896aad8856a228b11)
        .openPopup();

        
    
    
            marker_828feb8b455d460cb0fecbda3d5bacdf.bindTooltip(
                `<div>
                     Bellinzona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38b345b957584e10b8088d9ea6a75320 = L.marker(
                [46.88042, 8.64441],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_e8711bd3919d42529cbd15ae54951106 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_6e8ce3ab62f1441e8bcdecb92662646e = $(`<div id="html_6e8ce3ab62f1441e8bcdecb92662646e" style="width: 100.0%; height: 100.0%;">Altdorf</div>`)[0];
            popup_e8711bd3919d42529cbd15ae54951106.setContent(html_6e8ce3ab62f1441e8bcdecb92662646e);
        

        marker_38b345b957584e10b8088d9ea6a75320.bindPopup(popup_e8711bd3919d42529cbd15ae54951106)
        .openPopup();

        
    
    
            marker_38b345b957584e10b8088d9ea6a75320.bindTooltip(
                `<div>
                     Altdorf
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_85348651e2d043ee99617d52e0011629 = L.marker(
                [46.22739, 7.35559],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_031bb7d58d8b4ffca2ee6ca10f7ab694 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_f2aab61ad5fe432bb4963649ff207f61 = $(`<div id="html_f2aab61ad5fe432bb4963649ff207f61" style="width: 100.0%; height: 100.0%;">Sion</div>`)[0];
            popup_031bb7d58d8b4ffca2ee6ca10f7ab694.setContent(html_f2aab61ad5fe432bb4963649ff207f61);
        

        marker_85348651e2d043ee99617d52e0011629.bindPopup(popup_031bb7d58d8b4ffca2ee6ca10f7ab694)
        .openPopup();

        
    
    
            marker_85348651e2d043ee99617d52e0011629.bindTooltip(
                `<div>
                     Sion
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3cc3fc5f85af4198890a31c0676dc5c3 = L.marker(
                [46.516, 6.63282],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_df2bf7d3cfe44ba38c127a63a4f3d4ac = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_26899b82d5f44969bc56a14bd46e8056 = $(`<div id="html_26899b82d5f44969bc56a14bd46e8056" style="width: 100.0%; height: 100.0%;">Lausanne</div>`)[0];
            popup_df2bf7d3cfe44ba38c127a63a4f3d4ac.setContent(html_26899b82d5f44969bc56a14bd46e8056);
        

        marker_3cc3fc5f85af4198890a31c0676dc5c3.bindPopup(popup_df2bf7d3cfe44ba38c127a63a4f3d4ac)
        .openPopup();

        
    
    
            marker_3cc3fc5f85af4198890a31c0676dc5c3.bindTooltip(
                `<div>
                     Lausanne
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55c27ba9a9f84f2ea4e43a40c18c9750 = L.marker(
                [47.17242, 8.51745],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_fdb5a93c3a754a578ac48264d0982ddb = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_bb7f91434b1149a68b503ba2c3c55895 = $(`<div id="html_bb7f91434b1149a68b503ba2c3c55895" style="width: 100.0%; height: 100.0%;">Zug</div>`)[0];
            popup_fdb5a93c3a754a578ac48264d0982ddb.setContent(html_bb7f91434b1149a68b503ba2c3c55895);
        

        marker_55c27ba9a9f84f2ea4e43a40c18c9750.bindPopup(popup_fdb5a93c3a754a578ac48264d0982ddb)
        .openPopup();

        
    
    
            marker_55c27ba9a9f84f2ea4e43a40c18c9750.bindTooltip(
                `<div>
                     Zug
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bda8e2184f6547c2b515d072d1c86e12 = L.marker(
                [47.36667, 8.55],
                {}
            ).addTo(map_801a6a6e6f2e4512a693b58c7ee79833);
        
    
        var popup_023d16368b5a42549f4bbead50e0d663 = L.popup({"autoClose": false, "closeOnClick": false, "maxWidth": "100%"});

        
            var html_dfe794ddedac4f05aa438008b0b43731 = $(`<div id="html_dfe794ddedac4f05aa438008b0b43731" style="width: 100.0%; height: 100.0%;">Zurich</div>`)[0];
            popup_023d16368b5a42549f4bbead50e0d663.setContent(html_dfe794ddedac4f05aa438008b0b43731);
        

        marker_bda8e2184f6547c2b515d072d1c86e12.bindPopup(popup_023d16368b5a42549f4bbead50e0d663)
        .openPopup();

        
    
    
            marker_bda8e2184f6547c2b515d072d1c86e12.bindTooltip(
                `<div>
                     Zurich
                 </div>`,
                {"sticky": true}
            );
        
    
            var measure_control_2c5fa8610ad945b7afccb2298ac36cc0 = new L.Control.Measure(
                {"position": "topright", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_801a6a6e6f2e4512a693b58c7ee79833.addControl(measure_control_2c5fa8610ad945b7afccb2298ac36cc0);

        
</script>