<!DOCTYPE html>

<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <title>Home</title>
    <style>
        body {
            border: 0;
            margin: 0;
            background-color: black;
        }
        
        a, topnav, dropdown_exercises, #submit_button, #name {
            font-family:'Quicksand',sans-serif;
            font-weight:500;
            color:white;
        }
        
        a {
            text-decoration:none;
        }
        
    </style>
</head>
    
<body>
    
    <div class="container_header">
        <div class="topnav" style="height:80px;margin-left:10px;padding-top:2%;font-size:25px;">
            <a href="start.html">Aufgabenstellung</a>
            <a class="active" href="ranking.html" style="text-decoration:underline">Rangliste</a>
            <a href="creators.html">Creators</a>
        </div>
        
        <div class="container_logo">
            <img src="Logo/Logo.png" alt="Logo" style="position:absolute;top:0px;right:50px;height:150px;width:150px;">
        </div>
    </div>


<div>

<a><table class="centered thick-border">
        <tr>
                
                <th>Rang</th>
                <th>Name</th>
                 <th>Anzahl Kilometer</th>
        </tr>
        {% for i, (n, p) in nummeriert%} <!--(n, p) bedeutet, dass enumerate durch keys and values<-->

            <tr>
                    <td>{{ i }}</td>
                    <td>{{ p}}</td>
                   <td>{{ n}}</td>
            </tr>

        {% endfor %}
</table>
</a>
    </div>
            
    


</body>
    
</html>